.bundle
db/*.sqlite3
log/*.log
tmp/**/*
.svn/**/*
config/database.yml
nbproject/private/rake-d.txt
acl_2012_paper/*.pdf
acl_2012_paper/acl_2012_submit.aux
acl_2012_paper/acl_2012_submit.bbl
acl_2012_paper/acl_2012_submit.blg
acl_2012_paper/acl_2012_submit.dvi
acl_2012_paper/acl_2012_submit.log
.gitignore.swp
.gitignore~
*.aux
*.log
dict.dir
dict.pag
README.md~
.README.md.swp
