<h1>All Data Dumps</h1>

<%= link_to "disambiguations", :controller => :data_dump, :action => :disambiguations  %>&nbsp;&nbsp;
<%= link_to "snippet texts", :controller => :data_dump, :action => :snippet_texts  %>&nbsp;&nbsp;
<%= link_to "senses", :controller => :data_dump, :action => :senses %>